:root {
    --main-bg-color: #333940;
    --header-color: #E867ED;
    --grad-100: #9F54A6;
    --grad-other: #6B4775;
    --h5: #97A0A0;
    --text-color: #C05DC7;
    --border-color: #97A0A0;
    --code-color: white;

}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

p {
    font-size: 12px;
    color: var(--text-color);
}

h1, 
h2, 
h3, 
h4, 
h6 {
    color: var(--header-color);
}

h5 {
    color: var(--h5);
}

code {
    font-family: monospace;
    color: var(--code-color);
}

.main-header {
    align-items: center;
    text-align: center;
}

.header2 {
    width: 75%;
    margin: auto;
}

footer {
    text-align: center;
    align-items: center;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 20px 12px;
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
    border: 2px dashed var(--border-color);
}

.card-header {
    position: relative;
    top: -26px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    width: 275px;
    color: var(--text-color);
    border-color: var(--border-color);
    text-align: left;
    align-content: center;
    font-size: 24px;
    font-weight: 900;
    background-color: var(--main-bg-color);
}

.card-body {
    position: relative;
    top: -26px;
}

.linear-gradient-background {
    position: relative;
    top: -26px;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.card-header, .linear-gradient-background {
    transition: all 0.5s ease-in-out;
}

.card-header:hover,
.linear-gradient-background:hover {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}
